/* src/App.css */
.Container {
}
/* styles.css */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.block{
    display:block ;
}
form {
    border: 2px solid #ccc;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-self: ; */
}

form > div{
    display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
}
label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

.error {
    color: red;
    margin-bottom: 16px;
    margin-top: -16px;
    display: flex;
    justify-content: end;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}